<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Menu button should be replaced with a back arrow -->
<!-- Once clicked takes you back to homepage -->
<ion-content>
  <ion-list>

      <ion-tab-button tab="notifications">
          <ion-icon name="person"></ion-icon>
          <ion-label>Account</ion-label>
        </ion-tab-button>
    


        <ion-tab-button tab="notifications">
            <ion-icon name="lock"></ion-icon>
            <ion-label>Security</ion-label>
          </ion-tab-button>
    

    
          <ion-tab-button tab="notifications">
              <ion-icon name="notifications"></ion-icon>
              <ion-label>Notifications</ion-label>
            </ion-tab-button>
     

     
            <ion-tab-button tab="notifications">
                <ion-icon name="help-circle-outline"></ion-icon>
                <ion-label>Help</ion-label>
              </ion-tab-button>
      

          <ion-tab-button tab="notifications">
              <ion-icon name="information-circle-outline"></ion-icon>
              <ion-label>About</ion-label>
            </ion-tab-button>


    <ion-list-header>
      version 1.0
    </ion-list-header>
  </ion-list>
</ion-content>
